
<!-- {{emps|json}} -->
<div class="container">
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">>
   <p style="font-size: 20px; color: white">Loading...</p>
   </ngx-spinner>
   <p-fieldset legend="{{'Customers Employees'|translate}}">
      <div class="row" *ngIf="emps.length > 0">          
          <div class="col-md-12 text-center">
                <p-table [value]="emps" [paginator]="true" [rows]="10" >
                    <ng-template pTemplate="caption">
                        <div class="col-md-12 text-right">
                            <input type="text" pInputText size="20" placeholder="Filter...." (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th translate>Employee Name</th>
                            <th translate>Customer Name</th>
                            <th translate>From</th>
                            <th translate>To</th>
                            <th translate>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td>
                                {{rowData.empName}}
                            </td>
                            <td>
                                {{rowData.customerName}}
                            </td>
                            <td>
                                {{rowData.fromDt | date:'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{rowData.toDt | date:'dd/MM/yyyy'}}
                            </td>
                            <td>
                                <!-- <button pButton
                                        icon="fa fa-remove"
                                        class="ui-button-danger" (click)="Delete(rowData)"></button>
                                &nbsp;&nbsp;&nbsp; -->
                                <button pButton
                                        icon="fa fa-edit"
                                        class="ui-button-danger" (click)="editUser(rowData)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        There are {{emps?.length}} Employees Assigned
                    </ng-template>
                </p-table>
          </div>
      </div>
      <div class="row" *ngIf="emps.length == 0">
          <div class="col-md-12 text-center empty-data">
              <div class="fa fa-search"></div>
              <div translate>No Employees Assigned</div>
          </div>
      </div>
      <div class="row margin-top-15">          
        <div class="col-md-6 text-left">

                <p-fileUpload mode="basic" chooseLabel="Assign Bulk Employees" customUpload="true" (uploadHandler)="Upload($event)">
                </p-fileUpload>
          <!-- <label for="files" class="btn" translate>Choose File</label>
          <input id="files" type="file" style="display: inline-block;visibility:hidden;" (change)="incomingfile($event)" placeholder="{{'Upload file'|translate}}" accept=".xlsx">
          <button type="button" class="btn btn-info" (click)="Upload()" translate="">Upload</button> -->
        </div>
          <div class="col-md-6 text-right">
              <button class="btn btn-primary" (click)="assigEmpTocust()"translate> Assign Employee</button>
          </div>
        </div>
   </p-fieldset>

</div>
