$sidenav-background-color: #32324c;

.sidenav-container {
  height: 100%;
  top: 50px!important;
}

.sidenav {
  /* position: inline;
  
  width: 200px;
  height: 100%;
  background-color:whitesmoke;
 */

  position: fixed;
  top: 64px;
  min-width: 220px;
  font-size: 13px!important;
  background-color: #fafafa;
  box-shadow: 6px 0 6px rgba(231, 4, 4, 0.1);

}

mat-nav-list a{
  color:rgb(220, 220, 220);
  }

  mat-nav-list a:hover{
    color:rgb(220, 220, 220);
    border-left: 2px solid #165d7d!important;
    background: darken($sidenav-background-color,5%);
    
  }
      
.mat-sidenav{
    background: #32324c!important;
    background: -webkit-linear-gradient(to top, #32324c, #155d7d)!important;
    background: linear-gradient(to bottom, #32324c, #155d7d)!important;
}

.spacer{
  flex: 1 1 auto;
}

mat-sidenav-content{
   position: sticky;
  right: 250px;  
}

.iconhome{
  font-size: 18px;
  color: skyblue;
}

mat-toolbar.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

mat-toolbar a{
  display: inline;
  color: white;
  box-sizing: content-box;
  }
mat-toolbar a:hover {
  color: none;
}
mat-nav-list a:hover{
  background-color: steelblue;
  ;
}
.lang-title {
  color: #FFF;
  font-size: 16px;
}

.lang-option {
  color: #FFF;
  margin-right: 15px;
  font-size: 16px;
}
.menu-icon{
  margin-right: 3px;
}
