
<div class="container">

  <p-growl [(value)]="msgs"></p-growl>
  <div class="row">
    <p-fieldset legend="{{'Customers'|translate}}">
      <div class="mat-elevation-z8 col-md-12 " style="margin-top: -20px;">
        <div class="example-header" style="margin-left: 84%;">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'Search'|translate}}..">
        </div>
        <table mat-table [dataSource]="dataSource" class="table table-striped" matSort>


          <ng-container matColumnDef="customerCode">
            <th *matHeaderCellDef mat-sort-header> {{'Customer Code'|translate}} </th>
            <td *matCellDef="let element"> {{element.customerCode}} </td>
          </ng-container>


          <ng-container matColumnDef="customerName">
            <th *matHeaderCellDef mat-sort-header translate> {{'Customer Name'|translate}} </th>
            <td *matCellDef="let element"> {{element.customerName}} </td>
          </ng-container>
          <ng-container matColumnDef="active">
            <th *matHeaderCellDef mat-sort-header translate> {{'Status'|translate}} </th>
            <td *matCellDef="let element"> {{element.active}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-sort-header translate>{{'Action'|translate}}</th>
            <td *matCellDef="let cust">
              <button pButton
                      icon="fa fa-remove"
                      class="ui-button-danger" (click)="Delete(cust)" style="margin: 2px;"></button>
              <button pButton
                      icon="fa fa-edit"
                      class="ui-button-danger" (click)="Edit(cust)" style="margin: 2px;"></button>

            </td>


          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" translate>{{'Edit'|translate}}</tr>
          <div class="col-md-4" *ngIf="dataSource?.data.length===0">
            <span style="color:green">No Records Found!</span>
          </div>
        </table>
        
        <div class="col-md-10-pull-right">
          <mat-paginator [pageSizeOptions]="[3, 5, 7]" showFirstLastButtons></mat-paginator>

        </div>
      </div>


      <div class="col-sm-12">

        <button class="btn btn-primary pull-right" [disabled]="checkEdit" (click)="addPanel()" translate>Add Customer</button>
      </div>
    </p-fieldset>

  </div>

  <div class="row" style="margin-top: 15px;" *ngIf="checkAdd ||checkEdit">
    <p-fieldset [legend]="title|translate">
      <form [formGroup]="addCustomerForm" #formDir="ngForm">
        <div class="row col-md-12">
          <div class="col-md-6 form-group">
            <label for="CustomerCode" translate>Customer Code</label>
            <div class="col-md-6">
              <input id="CustomerCode" type="text" class="form-control" formControlName="customerCode" placeholder="{{'Customer Code'|translate}}.." [ngClass]="{ 'is-invalid': submitted && f.customerCode.errors }" />
              <div *ngIf="submitted && f.customerCode?.errors" class="invalid-feedback">
                <div *ngIf="f.customerCode.errors?.required">Customer Code is required</div>
              </div>
            </div>


          </div>

          <div class="col-md-4 form-group">
           
            <label for="CustomerStatus">
              {{'Status'|translate}}:
              <span [ngStyle]="{'color':active?.value!=false ? 'green' :'black'}"*ngIf="active?.value==false">
                {{'Inactive'|translate}}
              </span>
              <span [ngStyle]="{'color':active?.value!=false ? 'green' :'black'}" *ngIf="active?.value!=false">
                {{'Active'|translate}}
              </span>
            </label>

            <div class="col-md-2" id="CustomerStatus">
              <p-checkbox class="ui-chkbox" formControlName="active" binary="true">
              </p-checkbox>
            </div>

          </div>
          <div class="col-md-6 form-group">
            <label for="CustomerName" translate>Customer Name</label>
            <div class="col-md-6">
              <input id="CustomerName" class="form-control" formControlName="customerName" placeholder="{{'Customer Name'|translate}}" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" />
              <div *ngIf="submitted && f.customerName?.errors" class="invalid-feedback">
                <div *ngIf="f.customerName.errors?.required">Customer Name is required</div>
              </div>

            </div>

          </div>
          <div class="row col-md-12">
            <div class="col-md-10">
              <button class="center btn btn-primary col-md-1" style="margin:5px;" translate (click)="Addcustmer()">Save</button>
              <button class="center btn btn-primary col-md-1" translate (click)="Cancel()">Cancel</button>
            </div>
          </div>
        </div>
      </form>



    </p-fieldset>

  </div>

</div>
