<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/listDayReg">
                <div class="widget">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-calendar mediumpurple icon-rounded"></i>
                        <div class="stats">
                            <h6><strong>Employees</strong></h6>
                            <span>Time Sheets</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="/listPOsComponent">
                <div class="widget">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-bars green icon-rounded"></i>
                        <div class="stats">
                            <h6><strong>PO</strong></h6>
                            <span>All POs</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>        
        <div class="col-md-3">
            <a routerLink="/listEnvoicesComponent">
                <div class="widget">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-money yellow icon-rounded"></i>
                        <div class="stats">
                            <h6><strong>Invoices</strong></h6>
                            <span>All Invoices</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="/listemployee">
                <div class="widget">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-users blue icon-rounded"></i>
                        <div class="stats">
                            <h6><strong>All</strong></h6>
                            <span>Employees</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="chartPOPerMonth" style="width: 100%; height: 500px"></div>
        </div> 
        <div class="col-md-6">
            <div id="chartPOPerCustomer" style="width: 100%; height: 500px"></div>
        </div> 
        <div class="col-md-6">
            <div id="chartInvoicePerMonth" style="width: 100%; height: 500px"></div>
        </div> 
        <div class="col-md-6">
            <div id="chartEmployeesItems" style="width: 100%; height: 500px"></div>
        </div>
    </div>
</div>
