
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                 <h2>Dashboard</h2>   
                </div>
            </div>              
             <!-- /. ROW  -->
              <hr />
            <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">           
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-address-book"></i>
            </span>
            <div class="text-box" >
                 <p class="main-text">Time Sheet</p>
                <p class="text-muted" ><a routerLink="/listDayReg">All Time Sheets</a></p>

            </div>
         </div>
         </div>
                <div class="col-md-3 col-sm-6 col-xs-6">           
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-green set-icon">
                <i class="fa fa-bars"></i>
            </span>
            <div class="text-box" >

                 <p class="main-text">PO</p> 
                <p class="text-muted" ><a routerLink="/listPOsComponent">All POs</a></p>
                 
            </div>
         </div>
         </div>
        <div class="col-md-3 col-sm-6 col-xs-6">           
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-money-check-alt"></i>
            </span>
            <div class="text-box" >
                <p class="main-text">Invoice</p>
                <p class="text-muted" ><a routerLink="/listEnvoicesComponent">All Invoices</a></p>

            </div>
         </div>
         </div>

         <div class="col-md-3 col-sm-6 col-xs-6">           
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-blue set-icon">
                            <i class="fa fa-users"></i>
                    </span>
                    <div class="text-box" >
                        <p class="main-text">Employees</p>
                        <p class="text-muted" ><a routerLink="/listemployee">All Employees</a></p>
        
                    </div>
                 </div>
                 </div>
        </div>
             <!-- /. ROW  -->
            <hr />                
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">           
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-blue">
                <!-- <i class="fa fa-warning"></i> -->
            </span>
            <div class="text-box" >
                <p class="main-text">Important Definition For outsourcing </p>
                <!-- <p class="text-muted">Please fix these issues to work smooth</p> -->
                <hr />
                <p class="text-muted">
                      <span class="text-muted color-bottom-txt"><i class="fa fa-edit"></i>
                          
                     Outsourcing is a business practice in which a company hires another company or an individual to perform tasks, 
                     handle operations or provide services that are either usually executed or had previously been done by the company's own employees
                           </span>
                </p>
            </div>
         </div>
         </div>
                
                
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel back-dash">
                           <i class="fa fa-dashboard fa-3x"></i><strong> &nbsp; OutSource</strong>
                         <p class="text-muted">Outsourcing business functions is sometimes called contracting out or business process outsourcing.</p>
                    </div>
                   
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 ">
                    <div class="panel ">
      <div class="main-temp-back">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6"> NTG Clarity Company </div>
            <div class="col-xs-6">
              <div class="text-temp"> </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
                 <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-green set-icon">
                <i class="fa fa-desktop"></i>
            </span>
            <div class="text-box" >
                <p class="main-text">Display</p>
                <p class="text-muted">Looking Good</p>
            </div>
         </div>
        
</div>
                    
    </div>
</div>       
