
<!-- {{emps|json}} -->
<div class="container">
        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple">>
       <p style="font-size: 20px; color: white">Loading...</p>
       </ngx-spinner>
    <p-fieldset legend="{{'Registration Days'|translate}}">
        <div class="row" *ngIf="dayesRegList.length > 0">
            <div class="col-md-12 text-center">
                <p-table [value]="dayesRegList" [paginator]="true" [rows]="10" >
                    <ng-template pTemplate="caption">
                        <div class="col-md-12 text-right">
                            <input type="text" pInputText size="20" placeholder="Filter...." (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th translate>Employee Name</th>
                            <th translate>Employee Days</th>
                            <th translate>Approved Days</th>
                            <th translate>Remaining</th>
                            <th translate>From</th>
                            <th translate>To</th>
                            <th translate>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td>
                                {{rowData.empName}}
                            </td>
                            <td>
                                {{rowData.empDays}}
                            </td>
                            <td>
                                {{rowData.approvedDays}}
                            </td>
                            <td>
                                {{rowData.empDays - rowData.approvedDays}}
                            </td>
                            <td>
                                {{rowData.from | date:'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{rowData.to | date:'dd/MM/yyyy'}}
                            </td>
                            <td>
                                <!-- <button pButton
                                        icon="fa fa-remove"
                                        class="ui-button-danger" (click)="Delete(rowData)"></button>
                                &nbsp;&nbsp;&nbsp; -->
                                <button pButton
                                        icon="fa fa-edit"
                                        class="ui-button-danger" (click)="editEmpDayReg(rowData)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        There are {{dayesRegList?.length}} Time Sheet(s)
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="row" *ngIf="dayesRegList.length == 0">
            <div class="col-md-12 text-center empty-data">
                <div class="fa fa-search"></div>
                <div>{{'No Data Found'|translate}}</div>
            </div>
        </div>
        <div class="row margin-top-15">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" (click)="addEmpDayReg()" translate>Add Day Registration</button>
            </div>
            </div>
    </p-fieldset>
</div>
