
<!-- {{emps|json}} -->
<div class="container">
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
   <p style="font-size: 20px; color: white">Loading...</p>
   </ngx-spinner>
  <p-fieldset legend="{{'All Employees'| translate}}">
      <div class="row" *ngIf="emps.length > 0">
        <div class="col-md-12 text-center">
            <p-table [value]="emps" [paginator]="true" [rows]="10" >
                <ng-template pTemplate="caption">
                    <div class="col-md-12 text-right">
                        <input type="text" pInputText size="20" placeholder="Filter...." (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th translate>EmpCode</th>
                        <th translate>EmpName</th>
                        <th translate>Email</th>
                        <th translate>Mobile</th>
                        <th translate>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            {{rowData.empCode}}
                        </td>
                        <td>
                            {{rowData.empName}}
                        </td>
                        <td>
                            {{rowData.email}}
                        </td>
                        <td>
                            {{rowData.mobile}}
                        </td>
                        <td>
                            <!-- <button pButton
                                    icon="fa fa-remove"
                                    class="ui-button-danger" (click)="Delete(rowData)"></button>
                            &nbsp;&nbsp;&nbsp; -->
                            <button pButton
                                    icon="fa fa-edit"
                                    class="ui-button-danger" (click)="editUser(rowData)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    There are {{emps?.length}} Employees
                </ng-template>
            </p-table>
        </div>
      </div>
      <div class="row" *ngIf="emps.length == 0">
          <div class="col-md-12 text-center empty-data">
              <div class="fa fa-search"></div>
              <div>{{'No Employees'|translate}}</div>
          </div>
      </div>
      <div class="row margin-top-15">
        <div class="col-md-6 text-left">
            <p-fileUpload mode="basic" chooseLabel="Upload Bulk Employees" customUpload="true" (uploadHandler)="Upload($event)">
            </p-fileUpload>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-primary" (click)="addEmp()" translate>Add Employee</button>
        </div>
      </div>
  </p-fieldset>
</div>
